<div class="container mt-5">
  <div class="notification is-primary">
    <ul class="ml-5 is-flex">
      <% @categories.each do |category| %>
        <li class="mx-5">
          <strong>
            <%= link_to category.category_name, category %>
          </strong>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="columns">
  <div class="column">
    <h2 class="title is-4">Featured Products</h2>
      <div class="select">
        <select>
          <option>Unfiltered</option>
          <option>Recently Created</option>
          <option>Recently Updated</option>
        </select>
      </div>
      <div>
        <ul class="ml-5">
          <%= render @products %>
        </ul>
      </div>
  </div>
</div>