<h1 class="title is-1">About Page</h1>
<h3 class="title is-3">HalfCutAngling_FinalProject</h3>

<h4 class="title is-4">Description:</h4>
<section class="section">
<p>
HCA is a fishing and outdoorsman outfitter company that wants to update its website to be able
 to reach a larger market and making it easier for customers to make orders and receive their outdoor gear.
  I will be using the Ruby on Rails web framework to build a dynamic content management system to categorize and display HCA’s products,
   allowing for easy navigation between all pages and products for customers to browse.
</p>
<p>
I will be implementing the ActiveAdmin dashboard for administrative CRUD functionality.
This will allow an admin account to have complete control over the data.
For this project, I will be using a custom CSV file to upload product data, generating products and categories to mirror that of HCA’s inventory.
</p>
</section>
<ol class="ml-5">
  <li>Product-Category = many-to-one</li>
  <li>Product-Orders = many-to-many</li>
  <li>Order-Customer = one-to-many</li>
  <li>Province-Customer = one-to-many</li>
</ol>

