<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title mt-5">
            <% @category.products.each do |product| %>
              <li><%= link_to product.product_name, product %></li>
            <% end %>
      </p>
  </div>
</div>