<% content_for(:html_title) { @category.category_name } %>
<h2 class="title is-2"><%= @category.category_name %></h2>

<p>
  This category has <%= @category.products.count %> products in it.
</p>

<ul>
  <%= render @category %>
</ul>